#fb-share-button-facebook {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 400;
    padding: 1.5px 12px;
    display: inline-block;
    position: static;
    border-radius: 2px;
    font-family: helvetica neue,helvetica,arial,sans-serif;
 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  
}


#fb-share-button-facebook:hover {
    cursor: pointer;
    background: #213A6F;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
     animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#fb-share-button-google {
    background: #dd4b39;
    border-radius: 3px;
    font-weight: 400;
    padding: 1.5px 12px;
    display: inline-block;
    position: static;
    border-radius: 2px;
    font-family: helvetica neue,helvetica,arial,sans-serif;
     -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

#fb-share-button-google:hover {
    cursor: pointer;
    background: #DE250D;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
     animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#fb-share-button-twitter {
    background: #55acee;
    border-radius: 3px;
    font-weight: 400;
    padding: 1.5px 12px;
    display: inline-block;
    position: static;
    border-radius: 2px;
    font-family: helvetica neue,helvetica,arial,sans-serif;
     -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

#fb-share-button-twitter:hover {
    cursor: pointer;
    background: #1691F0;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
     animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#fb-share-button-print {
    background: #738A8D;
    border-radius: 3px;
    font-weight: 400;
    padding: 1.5px 12px;
    display: inline-block;
    position: static;
    border-radius: 2px;
    font-family: helvetica neue,helvetica,arial,sans-serif;
     -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

#fb-share-button-print:hover {
    cursor: pointer;
    background: #546466;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
     animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#fb-share-button-pinterest {
    background: #cb2027;
    border-radius: 3px;
    font-weight: 400;
    padding: 1.5px 12px;
    display: inline-block;
    position: static;
    border-radius: 2px;
    font-family: helvetica neue,helvetica,arial,sans-serif;
     -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

#fb-share-button-pinterest:hover {
    cursor: pointer;
    background: #CF0209;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
     animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#fb-share-button-facebook i, #fb-share-button-google i, #fb-share-button-twitter i, #fb-share-button-print i, #fb-share-button-pinterest i{
    width: 11px;
    color: white;
    vertical-align: middle;
    
}

#fb-share-button-facebook span, #fb-share-button-twitter span, #fb-share-button-google span, #fb-share-button-print span, #fb-share-button-pinterest span{
    vertical-align: middle;
    color: white;
    font-size: 10.5px;
    padding: 0 2px
}
